.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.loginAndregisterH1 {
    text-align: center;
}
.loginAndRegisterForm {
    width: 30%;
    margin: 25px auto;
}

#searchLabel{
    padding-top:0.5em;
}
/*google maps*/
#map{
    height: 400px;
    width: 100%;
}